# Calculating Outliers

### 0) Setup

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import sys

### 1) Create Dataset

In [11]:
data = {'Revenue':[1,2,3,4,5,6,7,8,9,10,10,10,9,9,8,8,7,7,6,6], 'State':['NY', 'IL', 'DE', 'NY', 'FL', 'CA', 'CA', 'CA','FL', 'CO', 'IL', 'CO', 'MA', 'WD', 'CO', 'NE', 'NM', 'CA', 'FL', 'CO']}

In [13]:
df = pd.DataFrame(data = data, index = pd.date_range('1/1/2016', periods = 20, freq='MS'))

In [14]:
df

            Revenue State
2016-01-01        1    NY
2016-02-01        2    IL
2016-03-01        3    DE
2016-04-01        4    NY
2016-05-01        5    FL
2016-06-01        6    CA
2016-07-01        7    CA
2016-08-01        8    CA
2016-09-01        9    FL
2016-10-01       10    CO
2016-11-01       10    IL
2016-12-01       10    CO
2017-01-01        9    MA
2017-02-01        9    WD
2017-03-01        8    CO
2017-04-01        8    NE
2017-05-01        7    NM
2017-06-01        7    CA
2017-07-01        6    FL
2017-08-01        6    CO

In [15]:
newdf = df.copy()

In [16]:
newdf['Revenue'].mean()

6.75

## Method 1) if x-Mean > 1.96*Std_dev

## Method 2)