## Playing around with data, editing columns

## 0) Setup

In [3]:
import pandas as pd
import numpy.random as np
import matplotlib.pyplot as plt
import matplotlib
import sys, os

In [2]:
print 'Python Version {}'.format(sys.version)

Python Version 2.7.10 (default, Jul 30 2016, 19:40:32)
[GCC 4.2.1 Compatible Apple LLVM 8.0.0 (clang-800.0.34)]

In [4]:
print 'Pandas Version {}'.format(pd.__version__)
print 'Matplotlib version {}'.format(matplotlib.__version__)

Pandas Version 0.20.3
Matplotlib version 2.0.2

## 1) Create Dataset

In [8]:
d = [0,1,2,3,4,5,6,7,8,9]

df = pd.DataFrame(data = d, columns = 'Rev')

TypeError: Index(...) must be called with a collection of some kind, 'Rev' was passed

In [6]:
df

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [10]:
df.columns = ['Rev']

In [11]:
df

   Rev
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9

In [12]:
df['NewCol'] = 5

In [13]:
df

   Rev  NewCol
0    0       5
1    1       5
2    2       5
3    3       5
4    4       5
5    5       5
6    6       5
7    7       5
8    8       5
9    9       5

In [14]:
df['NewCol'] = df['NewCol'] + 1

In [15]:
df

   Rev  NewCol
0    0       6
1    1       6
2    2       6
3    3       6
4    4       6
5    5       6
6    6       6
7    7       6
8    8       6
9    9       6

In [17]:
del df['NewCol']

In [18]:
df['test'] = 3

In [19]:
df['col'] = df['Rev']

In [20]:
df

   Rev  test  col
0    0     3    0
1    1     3    1
2    2     3    2
3    3     3    3
4    4     3    4
5    5     3    5
6    6     3    6
7    7     3    7
8    8     3    8
9    9     3    9

In [21]:
# rename index

In [22]:
i = list('abcdefghij')

In [23]:
df.index = i

In [24]:
df

   Rev  test  col
a    0     3    0
b    1     3    1
c    2     3    2
d    3     3    3
e    4     3    4
f    5     3    5
g    6     3    6
h    7     3    7
i    8     3    8
j    9     3    9

In [25]:
df.loc['a']

Rev     0
test    3
col     0
Name: a, dtype: int64

In [26]:
df.loc['a':'d']

   Rev  test  col
a    0     3    0
b    1     3    1
c    2     3    2
d    3     3    3

In [27]:
df.iloc[0:3]

   Rev  test  col
a    0     3    0
b    1     3    1
c    2     3    2

In [28]:
df.iloc[0:1]

   Rev  test  col
a    0     3    0

In [29]:
df.loc['a':'b']

   Rev  test  col
a    0     3    0
b    1     3    1

In [30]:
df.loc['a']

Rev     0
test    3
col     0
Name: a, dtype: int64